/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@font-face {
    font-family: 'iransans';
    src: url('/src/assets/fonts/IRANSansXFaNum-Regular.woff');
    // src: url('/src/assets/fonts/Iranian\ Sans.ttf') format('ttf'),
 }

*{
    font-family: 'iransans',
}